<h1 class="container">Late & Cancellation Policy</h1><br>
<div class="container">
	<div class="content">
	<p><strong class="redfont">***</strong>Due to Hours and Location of Business, No children are allowed.<strong class="redfont">***</strong></p>
	<p><strong class="bluefont">BUSINESS OF OPERATION &nbsp;:</strong> Monday & Thursday </p>
	<p>8:00 a.m. - (LAST APPOINTMENT CONCLUDING) @ 9:30 p.m.</p>
	</div><br>
	<div>
		<p><strong class="bluefont">After Business Hours Fees &nbsp;:</strong></p>
		<p>(if an appointment is needed outside of normal business hours, an additional fee will be applied upon scheduling. )</p>
		<p><strong class="redfont">(Appointments are not GUARANTEED)</strong></p>
		<p></p>
	</div><br>

	<table class="table table-bordered table-light">
	  <thead>
	    <tr>
	      <h3 scope="col" class="fontsize">SERVICES</h3>
	    </tr>
	  </thead>
	  <tbody>
	  		<th class="redfont">This policy applies to all services!!</th>
	    <tr>
	      <td id="lessspace">Full Set  &nbsp;: $50.00</td>
	      <td>Wax Services &nbsp;: $10.00</td>
	      <td>Permanent Makeup &nbsp;: $50.00</td>
	      <td>Spray Tan &nbsp;: $15.00</td>
	      <td>Lash Fill &nbsp;: $25.00</td>
	    </tr>
	  </tbody>
	</table>

	<div>
		<h3>LATE POLICY</h3>
		<p>Savvy Esthetics runs on a strict timely schedule and requires prompt arrival to provide service to all clients. We know there may be times when clients are running late due to emergencies and last-minute delays. That's why we have our late policy. We do this, so all our clients can stay on schedule. Clients who arrive more than 15 minutes late for a scheduled appointment will be charged an additional $25.If you are going to be more than 15 minutes late rescheduling will be required. At 15 minutes, it will limit the amount of time dedicated to the services.</p>
	</div>

	<div>
		<h3>MISSED APPOINTMENT POLICY</h3>
		<p>As a courtesy to clients and the estheticians, appointments must be canceled a minimum of 24 hours in advance. A Venmo Invoice will be sent to you, should the policy not be met. No fee will be charged for appointments that are canceled or rescheduled with at least 24-hour notice. Appointments canceled or rescheduled without a minimum 24 hours-notice will be charged an additional $25 charge. The same fee applies to no-shows. Cancellations and/or rescheduling must be communicated via text message or phone calls.</p>

		<p><strong class="redfont">***</strong>There are no exceptions to the cancellation, late policies & fees, whether it’s for reasons of sickness, family emergency, traffic, transit or weather. Please anticipate any delays and plan accordingly.<strong class="redfont">***</strong></p>
	</div>

	<div>
		<h3>ADDITIONS SERVICE POLICY</h3>
		<p>Any request to add services or last-minute scheduling will be charged a $10 addition fee. Keep in mind that by adding services at the last minute interferes with other clients and their services. No fee will be charged if requested 24 hrs. in advance.</p>
		<p><strong class="bluefont">(subject to change at time of appointment)</strong></p>
	</div>
	<div></div>
</div>