  <!-- Contact Section -->
  <div class="w3-padding-32 w3-content w3-text-grey" id="contact" style="margin-bottom:64px">
    <hr class="w3-opacity">

    <div class="w3-section form-default container">
	    <div class="row">
	    	<div class="col-md-4 centeredadd">
	    		<address>
	      Savvy Esthetics<br>
	      334 Loop 332 Unit B<br>
	      Liberty Hill, Texas<br>
	      Phone: <a href="tel:+18018569617">(801)856-9617</a><br>
	      Email: <a href="mailto:savvysupport@gmail.com">savvysupport@gmail.com</a><br>
	    	</address>
	    	</div>
    	</div>
    </div>
    <!-- Google Map -->

  	<h3>Contact</h3>
  	<div class="card z-depth-5 centeredall">
  		<div class="card-content">
  			<div id="map-canvas"></div>
  		</div>
  	</div>

  <div class="spaceborder">	
      <iframe width="900" height="750" frameborder="0" style="border:1"
    src="https://www.google.com/maps/embed/v1/view?zoom=17&center=30.6655,-97.9120&key=AIzaSyB5izTvMDs-eajiwH2vi0FziPGA6XLzWng" class="bordermap", style="margin: 90px;" allowfullscreen></iframe>
  </div>