 <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">AromaTouch Technique Kit</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$146.67 <small class="text-muted"> ONLY</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>includes 8 oils and  Coconut oil</li>
          <li>doterra Balance, Peppermint,</li>
          <li>Lavender, Melaleuca</li>
          <li>Wild Orange, AromaTouch,</li>
          <li>Deep Blue, On Guard</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary "><a href="https://www.doterra.com/US/en/p/aromatouch-technique-kit">Click to Order</a></button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Beginner's Trio Kit</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$66.67 <small class="text-muted">ONLY</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Includes : Lavender, Lemon,</li>
          <li>Peppermint</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary"><a href="https://www.doterra.com/US/en/p/collections-beginners-trio-kit">Click to Order</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Daily Habits Kit</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$246.67 <small class="text-muted">ONLY</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Includes On Guard, Balance, Frankincense,</li>
          <li>Lemon, Lavender, Deep Blue,</li>
          <li>Lifelong Vitality Pack, MVz,</li>
          <li>DigestZen Supplements</li>
        </ul>
        <button type="button" class="btn btn-lg btn-block btn-outline-primary "><a href="https://www.doterra.com/US/en/p/collections-beginners-trio-kit">Click to Order</button>
      </div>
    </div>
  </div>
  <div>
    <h1><a href="https://www.doterra.com/US/en/site/jamiehugh">CLICK HERE WHOLESALE ACCOUNT MEMBERSHIP</a></h1>
  </div>