<!-- Footer -->
<footer class="footer">

  <!-- Copyright -->
  <div class="footer"><a href="https://www.doterra.com/US/en/site/jamiehugh"><%= image_tag('logos/doterra-wellness.jpg', size: '70x30') %></a>  &nbsp; © 2007 &nbsp; <strong>&nbsp;Jamie Hugh&nbsp;</strong> D.B.A. &nbsp; <strong>&nbsp;Savvy Esthetics&nbsp;</strong> &nbsp; |  <a href="/pages/cancellation">Cancellation Policy</a> &nbsp;| &nbsp; <a href="https://www.instagram.com/savvyesthetics"><%= image_tag('logos/instagram_logo.png', size: '50x50') %></a>&nbsp;|&nbsp; <a href="https://www.facebook.com/savvyesthetics/"><%= image_tag('logos/facebook_img.png', size: '40x40') %></a>
  </div>
  <!-- Copyright -->

</footer>